<%- include('header.ejs') %>
<div class="container mt-4">
    <h3>El respaldo se genero</h3>
    <a href="<%= ruta %>">Descargar</a> | <a href="/">Volver</a>
    <textarea class="form-control" rows="60">
        <%= resultado %>
    </textarea>
</div>
<%- include('footer.ejs') %>